.mainCont{
    width: 1200px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    border-right: solid rgb(55, 104, 135);
    border-left: solid rgb(138, 206, 248);
    border-top: solid rgb(138, 206, 248);
    border-bottom: solid rgb(55, 104, 135);
}
.mainCont h2{
    margin-left: 43%;
}
.mainCont textarea {
    overflow: hidden;
    resize: vertical; /* Allow vertical resizing */
    box-sizing: border-box; /* Ensure padding and border are included in the element's width and height */
}
.addNote{
    color:rgb(191, 225, 246);
    margin-left: 43%;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-right: solid rgb(55, 104, 135);
    border-left: solid rgb(138, 206, 248);
    border-top: solid rgb(138, 206, 248);
    border-bottom: solid rgb(55, 104, 135);
}
.addNote:hover{
    border-left: solid rgb(55, 104, 135);
    border-right: solid rgb(138, 206, 248);
    border-bottom: solid rgb(138, 206, 248);
    border-top: solid rgb(55, 104, 135);
}

/* to display notes */

.notes{ 
    width: 1200px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    border-right: solid rgb(55, 104, 135);
    border-left: solid rgb(138, 206, 248);
    border-top: solid rgb(138, 206, 248);
    border-bottom: solid rgb(55, 104, 135);
}
.notes h2{
    margin-left: 43%;
}
.notesContainer{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap; /* To wrap notes to the next line if the container is full */
    gap: 10px; /* Space between notes */
    justify-content: center; /* Center the notes in the container */
    align-items: center;
    margin: 10px;
    margin-left: -2px;
}