/* Enable page scrolling and hide the scrollbar */
html, body {
    height: 100%;
    margin: 0;
    overflow: scroll; /* Keep the page scrollable */
    /* Hide scrollbar for all browsers */
    -ms-overflow-style: none; /* For Internet Explorer */
    scrollbar-width: none; /* For Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* For Webkit browsers (Chrome, Safari) */
}

/* to display notes */

.notes{ 
    width: 1200px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    border-right: solid rgb(55, 104, 135);
    border-left: solid rgb(138, 206, 248);
    border-top: solid rgb(138, 206, 248);
    border-bottom: solid rgb(55, 104, 135);
    overflow:hidden;
}
.notes h2{
   /* margin-left: 45%;
    margin-bottom: 10%; */
    
}
.notesH{
    display: flex;
    justify-content: center;
}
.notesContM{
    border: red solid;
    display: flex;
    overflow:auto;
    padding: 10px;
}
.notesContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 notes per row */
    gap: 10px; /* Space between notes */
    width: 100%;
}